<div class="container">
    <div class="row" id="header">
        <h1>Homecooked</h1>
    </div>

    <div class="row" id="main_row">
        <div class="col-md-5 col-md-offset-7" id="main_form">
            <div class="panel panel-default container-fluid">
                <div class="panel-heading row">
                    <div class="col-xs-6 text-center"><button class="btn header-button" id="sign-up">Sign Up</button></div>
                    <div class="col-xs-6 text-center"><button class="btn header-button" id="sign-in">Sign In</button></div>

                </div>
                <div class="panel-body" id="sign_up_form">
                    <form>


                        <div class="form-group">
                            <input type="text" class="form-control" id="first_name" placeholder="First Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Email Address">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="zipcode" placeholder="Zip Code">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="phone_number" placeholder="Phone Number">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="Create Password">
                        </div>
                        <p>Would you like to make or purchase meals?</p>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                    <input type="radio" name="options" id="chef_radio" autocomplete="off">Chef
                                </label>
                            <label class="btn btn-default">
                                    <input type="radio" name="options" id="customer_radio" autocomplete="off">Customer
                                </label>
                        </div>
                        <br><br>

                        <button type="submit" id="submit_user" class="btn btn-default">Submit</button>
                    </form>
                </div>

                <div class="panel-body hide" id="sign_in_form">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_email" placeholder="Email Address">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="user_password" placeholder="Enter Password">
                        </div>

                        <button type="submit" id="sign-in-submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center" id="steps_row">
        <div class="col-md-4 col-xs-12" id="step1">
            <div class="row">
                <img src="" alt="step1_pic">
            </div>
            <div class="row">
                Step 1:
            </div>
        </div>

        <div class="col-md-4 col-xs-12" id="step2">
            <div class="row">
                <img src="" alt="step2_pic">
            </div>
            <div class="row">
                Step 2:
            </div>
        </div>

        <div class="col-md-4 col-xs-12" id="step3">
            <div class="row">
                <img src="" alt="step3_pic">
            </div>
            <div class="row">
                Step 3:
            </div>
        </div>

    </div>
</div>