<div class="container">
        <div class="row" id="header">
            <h1>Homecooked</h1>
            <hr>
        </div>
        <!-- ADD PHOTOS FROM ASSETS OR UPLOADED via SITE? -->
        <div class="row text-center">
            <div class="col-md-4 col-sm-6">
                <div class="col-xs-12 gallery">
                    <div class="row">
                        <img src="chicken_2.jpg" class="gallery_pic" width="70%">
                    </div>
                    <div class="row">
                        Adam A. | Houston, TX
                        <br>From $7/Meal
                        <br>&#9733 &#9733 &#9733 &#9733 &#9734
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="col-xs-12 gallery">
                    <div class="row">
                        <img src="friedchicken_6.jpg" class="gallery_pic" width="70%">
                    </div>
                    <div class="row">
                        Brittany B. | Pasadena, TX
                        <br>From $9/Meal
                        <br>&#9733 &#9733 &#9733 &#9733 &#9733
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="col-xs-12 gallery">
                    <div class="row">
                        <img src="roast_3.jpg" class="gallery_pic" width="70%">
                    </div>
                    <div class="row">
                        Cat C. | Katy, TX
                        <br>From $6/Meal
                        <br>&#9733 &#9733 &#9733 &#9733 &#9734
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="col-xs-12 gallery">
                    <div class="row">
                        <img src="salad_7.jpg" class="gallery_pic" width="70%">
                    </div>
                    <div class="row">
                        Danielle D. | The Woodlands, TX
                        <br>From $8/Meal
                        <br>&#9733 &#9733 &#9733 &#9734 &#9734
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="col-xs-12 gallery">
                    <div class="row">
                        <img src="salmon_1.jpg" class="gallery_pic" width="70%">
                    </div>
                    <div class="row">
                        Erica E. | Cypress, TX
                        <br>From $7/Meal
                        <br>&#9733 &#9733 &#9733 &#9733 &#9734
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="col-xs-12 gallery">
                    <div class="row">
                        <img src="tacos_8.jpg" class="gallery_pic" width="70%">
                    </div>
                    <div class="row">
                        Fred F | Tomball, TX
                        <br>From $6/Meal
                        <br>&#9733 &#9733 &#9733 &#9734 &#9734
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="javascript/chef-gallery.js"></script>