<div class="container">
    <div class="row" id="header">
        <div class="col-xs-4 col-xs-offset-1">
            <h1>Homecooked</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4" id="photo1">
            <input>Photo 1</input>
        </div>
        <div class="col-xs-4" id="photo2">
            <input>Photo 2</input>
        </div>
        <div class="col-xs-4" id="photo3">
            <input>Photo 3</input>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">

        </div>
        <div class="col-xs-8">
            <div class="row" id="chef_info">
                <input id='biography'>Bio</input>
            </div>

            <div class="row" id="specialties">
                <input id='specialties'>Special</input>
            </div>

            <div class="row" id="restrictions">
                <input id='restrictions'>Restr</input>
            </div>

            <div class="row" id="radius">
                <input id='radius'>Rad</input>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4" id="menu_1">
            <input id='menu_1'>Menu1</input>
        </div>
        <div class="col-xs-4" id="menu_2">
            <input id='menu_2'>Menu2</input>
        </div>
        <div class="col-xs-4" id="menu_3">
            <input id='menu_3'>Menu3</input>
        </div>
    </div>

    <input type='submit' id='submit_chef_form'>Submit Form</input>
</div>

<script src="javascript/chef_form.js"></script>