<div class="container">
    <div class="row" id="header">
        <h1>Homecooked</h1>
        <hr>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <img class="img-circle" src="index_chicken.jpg" alt="chef-image" width="100%">
        </div>

        <div class="col-xs-8">
            <div class="row">
                <h3>CHEFNAME I. | 77005 </h3>
            </div>
            <div class="row" id="chef_specialties">
                <h4>
                    <u>Specialty Cuisines: </u>
                </h4>

                <!-- LIST chef_specialties HERE -->
            </div>

            <div class="row" id="chef_certification">
                <h4>
                    <u>Skills/Certifications: </u>
                </h4>
                <!-- LIST chef_certification HERE -->
            </div>

        </div>
    </div>

    <div class="row text-center">
        <h3>MENUS</h3>
        <br>
        <div class="col-md-4" id="menu1">
            <div class="row" id="menu1_pic"></div>
            <div class="row" id="menu1_desc"></div>
        </div>
        <div class="col-md-4" id="menu2">
            <div class="row" id="menu2_pic"></div>
            <div class="row" id="menu2_desc"></div>
        </div>
        <div class="col-md-4" id="menu3">
            <div class="row" id="menu3_pic"></div>
            <div class="row" id="menu3_desc"></div>
        </div>
    </div>
</div>
<script src="chef-profile.js"></script>