<div class="container">
        <div class="row" id="header">
            <h1>Homecooked</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="..assets/cust_photo.JPG" alt="customer-image" style="border-radius:50%" width="75%">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <h3>Brittany P. | 77502</h3>
                </div>
                <div class="row" id="restrictions">
                    <div class="col-xs-12">
                        <h4>
                            <u>Dietary Restrictions:</u>
                        </h4>
                    </div>
                    <!-- List Diet. Restric. Here -->
                </div>
                <div class="row" id="customer_allergies">
                    <div class="col-xs-11">
                        <h4>
                            <u>Allergies:</u>
                        </h4>
                        <!-- List Allergies Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="javascript/customer-profile.js"></script>