@import url(https://fonts.googleapis.com/css?family=Lato:400);

:focus { outline: 0;}
a:link, a:visited, a:active{text-decoration:none; color: #99cccc}
table {	border-collapse: separate;border-spacing: 0; width: 100%;}
th, td {text-align: left; font-weight: normal;}
tr{line-height: 30px;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit;}
*, *:after, *::before{box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}



/* Main */
body {
  font-family: Lato;
  /*background: #444B54;*/
  padding: 15px;
  overflow-x: hidden;
}

.trigger {
  font-size: 20px;
  background: #F04903;
  color: white;
  width: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}

p {
  padding: 15px;
  font-size: 20px;
  text-align: justify;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 4.5em;
    /*padding-bottom: .4em;*/
}    
        

h2 {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    padding-bottom: 3%;
}

h3, .pacifico {
   font-family: "Pacifico", cursive;
}

h4 {
    color: #777777;
}

#main_row {
    background-image: url("../assets/index_chicken.jpg");
    margin-bottom: 2em;
    height: 500px;
}

#main_form {
    margin-top: -1.75em;
    margin-bottom: -2.5em;
}

.form-group {
    margin-bottom: .5em;
}


#submit_user, #sign-in-submit {
    width: 100%;
}

#step1_pic, #step2_pic, #step3_pic {
    border-radius: 50%;
    border: 1px solid #aaaaaa;
}

.modal-header {
    color: #ffffff;
    background-color: #78af42;
    text-align: center;
}

.img-circle {
    border-radius: 40%;
}

.gallery_pic {
    margin-top: 4%;
}

.gallery {
    border: 1px solid #dddddd;
    margin: 2%;
    background-color: #eeeeee;
    border-radius: 3%;
}

.chef_link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.right {
    float: right;
}

.left {
    float: left;
}

.photo-button {
    position: absolute;
    left: 260px;
    bottom: 175px;
}

.food-button {
    position: absolute;
    left: 285px;
    bottom: 162px;
}

.pencil-button {
    font-size: 18pt;
    opacity: .7;
}

.icon-enlarge {
    width: 60px;
    height: 60px;
    opacity: .7;
}

.glyph-font {
    font-size: 30pt;
}

.negative-index {
    z-index: -1;
}

.positive-index {
    z-index: 1;
}

#sign_out:hover {
    color: #337ab7;
    cursor: pointer;
}

#footer {
    margin-top: 30px;
}

.follow_icon {
    width: 50px;
    height: 50px;
}

.follow_icon:hover {
    opacity: 0.5;
}

.tab {
    padding-right: .5em;
}

.food_photo {
    width: 300px;
    height: 200px;
}

.profile-picture {
    width: 200px;
    height: 200px;
}